@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  color: #38bdf8;
  background-color: #374151;
}

h1 {
  @apply text-5xl md:text-6xl font-bold text-neutral2 roboto-bold;
}

h2 {
  @apply text-4xl md:text-5xl font-bold text-neutral2 roboto-bold;
}

h3 {
  @apply text-3xl md:text-4xl font-bold text-neutral2 roboto-bold;
}

h4 {
  @apply text-2xl md:text-3xl font-bold text-neutral2 roboto-bold;
}

h5 {
  @apply text-xl md:text-2xl font-bold text-neutral2 roboto-bold;
}

h6 {
  @apply text-lg md:text-xl font-bold text-neutral2 roboto-bold;
}

p {
  @apply text-base md:text-lg text-neutral2 roboto-regular;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
